@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    margin: 0;
    padding: 0;
    height: 100%;
    overflow: hidden;
}

.gradient {
    background-image: radial-gradient(circle, #191d1d, #181e20, #172024, #192028, #1e202b);
    width: 100%;
    height: 100%;
    overflow: auto;
}

.loader {
    width: 30px;
    height: 30px;
    border: 5px solid #ffffff;
    border-bottom-color: #367bdd;
    border-radius: 50%;
    display: inline-block;
    box-sizing: border-box;
    animation: rotation 0.75s linear infinite;
}

@keyframes rotation {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
} 

.todo_input {
    @apply h-12 w-[300px] md:w-[450px] rounded-lg outline-none px-4 pr-[75px] py-3 font-inter placeholder-slate-500 bg-gray-700 text-slate-300;
    resize: none;
}

.add_todo {
    @apply absolute right-[20px] top-[45%] translate-y-[-50%] text-slate-300
}

button:disabled {
    cursor: not-allowed;
}

.edit_todo_title {
    @apply font-bold outline-none w-[200px] md:w-[350px] text-white bg-transparent;
    resize: none;
}

.todo_title {
    @apply w-[200px] md:w-[350px]
}

.todo_text {
    @apply placeholder:text-slate-300 font-bold outline-none rounded-md p-2 w-[70%] min-h-[200px] max-h-[200px] md:min-h-[250px] md:max-h-[250px] overflow-hidden;
    resize: none
}