@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

.gradient {
    background-image: radial-gradient(circle, #191d1d, #181e20, #172024, #192028, #1e202b);
    width: 100%;
    height: 100%;
}

.todo_input {
    @apply h-12 w-[300px] md:w-[450px] rounded-lg outline-none px-4 pr-[50px] py-3 font-inter placeholder-slate-500 bg-gray-700 text-slate-300;
    resize: none;
}

.add_todo {
    @apply absolute right-[30px] top-[45%] translate-y-[-50%] text-slate-300
}

button:disabled {
    cursor: not-allowed;
}

.modal {
    @apply fixed z-10 left-0 top-0 w-full h-full;
    background-color: rgba(0,0,0,0.4);
  }
  
.modal_content {
    @apply fixed top-[40%] md:top-[45%] left-[50%] translate-x-[-50%] translate-y-[-50%] bg-slate-500 p-1 rounded-md w-[80%] md:w-[50%] h-[45%] md:h-[55%];
}

.todo_title {
    @apply font-bold outline-none rounded-md px-2 text-white bg-transparent;
    resize: none;
}

.todo_text {
    @apply placeholder:text-slate-300 font-bold outline-none rounded-md p-2 w-[70%] min-h-[200px] max-h-[200px] md:min-h-[250px] md:max-h-[250px] overflow-hidden;
    resize: none
}